[gcode_macro START_PRINT]
gcode:
	{% set BED_TEMP=params.BED_TEMP|default(70)|float %}
	{% set EXTRUDER_TEMP=params.EXTRUDER_TEMP|default(150)|float %}

    LIGHT_ON

    SET_GCODE_OFFSET Z=0 ; Reset Z offset

    {% if printer.toolhead.homed_axes != "xyz" %}
      RESPOND MSG="Homing"
      G28
    {% endif %}
    
    G90 ; Set to absolute positioning

    RESPOND MSG="Heating bed"
    M104 S150 ; Heat nozzle to soften filament leftovers
    M190 S{BED_TEMP}

    RESPOND MSG="Leveling"
    QUAD_GANTRY_LEVEL
    RESPOND MSG="Waiting for hotend to reach 150C"
    M109 S150 ; Ensure nozzle is at 150C, in case it was hot when print started.
    RESPOND MSG="Touch calibration"
    CARTOGRAPHER_TOUCH_HOME ; Home for real Z0
    RESPOND MSG="Bed mesh"
    BED_MESH_CALIBRATE

	M83

    RESPOND MSG="Heating extruder to print temperature"
	# Heat the extruder to the desired temperature
	M104 S{EXTRUDER_TEMP}
	M109 S{EXTRUDER_TEMP}

    VORON_PURGE